.automaticAlerts{
  // background: #f1eff7;
      padding: 5rem;

      @media(max-width:$breakpoint-tablet){

      }
  &__title{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 5rem auto;
    text-align: center;

  }
  &__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5rem 0;
    @media(max-width:$breakpoint-tablet){
      flex-direction: column;

    }
  }
  &__group{
    display:flex;
    flex-direction: column;
    align-items: center;
    @media(max-width:$breakpoint-tablet){
      flex-direction: column;
    }
    &--margin{
      @media(max-width:$breakpoint-tablet){
        margin-bottom:5rem;
      }
    }
  }
  &__groupTitle{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    @media(max-width:$breakpoint-tablet){
      font-size: .8rem;
      text-align: center;
    }
  }
  &__imgContainer{
    width:80px;
    height:100px;
  }
  &__img{
    max-width: 100%;
  }
}
