.pricing-section{
  background:$pricingBackground;
  padding:10rem 0;
  @media(max-width:$breakpoint-tablet){
  padding:5rem 0;
  }
}
.pricing{
  &__container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
      padding:5rem;

  }
  &__titleContainer{

  }
  &__title{
    color:#ffffff;
    font-size: 3rem;
    font-weight:600;
    margin-bottom:5rem;
    letter-spacing: 1px;
    @media(max-width:$breakpoint-tablet){
    font-size: 2rem;
    }
  }

  &__table{
    background:#ffffff;
    padding:200px;
    padding:75px 150px;
    box-shadow:$boxshadow;
    border-radius: 2px;
    @media(max-width:$breakpoint-tablet){
    padding:40px 80px;
    }
    @media(max-width:$breakpoint-mobile){
      padding:20px 40px;
    }
    &__onePrice{
      font-size:1.4rem;
      color:#000000;
      margin-bottom:3rem;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      @media(max-width:$breakpoint-tablet){
      font-size: 1rem;
      }
      @media(max-width:$breakpoint-mobile){
      font-size: .8rem;
      }

      &::after{
        content:".";
        display:block;
        background:$logo;
        height:3px;
        width:80px;
        position: relative;
        left:120px;
        margin-top:.5rem;
        @media(max-width:$breakpoint-tablet){
        left:64px;
        width:63px;
        height:2px;
        }
      }

  }
  &__eachLoad{
    font-size: 2.2rem;
    color:#000000;
    font-weight:700;
    margin-bottom:3rem;
  text-align: center;
  @media(max-width:$breakpoint-tablet){
  font-size: 1.7rem;
  }

  }
  &__listItems{
    position: relative;
    left:30px;
    font-size: 2rem;
    color:#000000;
    font-weight:300;
    line-height: 1.5;
    letter-spacing: 2px;
    @media(max-width:$breakpoint-tablet){
    font-size: 1rem;
    }
    @media(max-width:$breakpoint-mobile){
    font-size: .8rem;
    }

  }
  &__buttonContainer{
    margin-top:3rem;
    display:flex;
    justify-content: center;

  }


  }
}
