$boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$transition:all .3s ease-in-out;
$button:#3C2892;
$logo:#8D77EB;
$pricingBackground:#58A4B0;
$paragraphColor:#585555;
$buttonHoverColorLightPurple:#5c45bd;


//BREAKPOINTS

$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-tablet:768px;
$breakpoint-mobile:425px;
